div {
  float: left;
  position: relative;
}
body {
  margin: 0px;
  background-image: url("smallholymackeral.jpg");
  background-color: #;
}
* {
  margin: 0px;
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}
@media only screen and (min-width: 200px) and (max-width: 680px) {
  .col-ss-0 { display: none; }
  .col-ss-1 { display: block; width: calc(100% / 37 * 1); }
  .col-ss-2 { display: block; width: calc(100% / 37 * 2); }
  .col-ss-3 { display: block; width: calc(100% / 37 * 3); }
  .col-ss-4 { display: block; width: calc(100% / 37 * 4); }
  .col-ss-5 { display: block; width: calc(100% / 37 * 5); }
  .col-ss-6 { display: block; width: calc(100% / 37 * 6); }
  .col-ss-7 { display: block; width: calc(100% / 37 * 7); }
  .col-ss-8 { display: block; width: calc(100% / 37 * 8); }
  .col-ss-9 { display: block; width: calc(100% / 37 * 9); }
  .col-ss-10 { display: block; width: calc(100% / 37 * 10); }
  .col-ss-11 { display: block; width: calc(100% / 37 * 11); }
  .col-ss-12 { display: block; width: calc(100% / 37 * 12); }
  .col-ss-13 { display: block; width: calc(100% / 37 * 13); }
  .col-ss-14 { display: block; width: calc(100% / 37 * 14); }
  .col-ss-15 { display: block; width: calc(100% / 37 * 15); }
  .col-ss-16 { display: block; width: calc(100% / 37 * 16); }
  .col-ss-17 { display: block; width: calc(100% / 37 * 17); }
  .col-ss-18 { display: block; width: calc(100% / 37 * 18); }
  .col-ss-19 { display: block; width: calc(100% / 37 * 19); }
  .col-ss-20 { display: block; width: calc(100% / 37 * 20); }
  .col-ss-21 { display: block; width: calc(100% / 37 * 21); }
  .col-ss-22 { display: block; width: calc(100% / 37 * 22); }
  .col-ss-23 { display: block; width: calc(100% / 37 * 23); }
  .col-ss-24 { display: block; width: calc(100% / 37 * 24); }
  .col-ss-25 { display: block; width: calc(100% / 37 * 25); }
  .col-ss-26 { display: block; width: calc(100% / 37 * 26); }
  .col-ss-27 { display: block; width: calc(100% / 37 * 27); }
  .col-ss-28 { display: block; width: calc(100% / 37 * 28); }
  .col-ss-29 { display: block; width: calc(100% / 37 * 29); }
  .col-ss-30 { display: block; width: calc(100% / 37 * 30); }
  .col-ss-31 { display: block; width: calc(100% / 37 * 31); }
  .col-ss-32 { display: block; width: calc(100% / 37 * 32); }
  .col-ss-33 { display: block; width: calc(100% / 37 * 33); }
  .col-ss-34 { display: block; width: calc(100% / 37 * 34); }
  .col-ss-35 { display: block; width: calc(100% / 37 * 35); }
  .col-ss-36 { display: block; width: calc(100% / 37 * 36); }
  .col-ss-37 { display: block; width: calc(100% / 37 * 37); }
  #NegOneD {
    height: calc(1200px * 0 / 37);
  }
  #NegOneC {
    height: calc(1200px * 0 / 37);
  }
  #NegOneB {
    height: calc(1200px * 1 / 37);
  }
  #NegOneA {
    height: calc(1200px * 5 / 37);
  }
  #PosOneA {
    height: calc(1200px * 0 / 37);
  }
  #PosOneB {
    height: calc(1200px * 1 / 37);
  }
  #one {
    height: calc(1200px * 1 / 37);
  }
  #two {
    height: calc(1200px * 6 / 37);
  }
  #three {
    height: calc(1200px * 10 / 37);
  }
  #fourA {
    height: calc(1200px * 2 / 37);
  }
  #fourB {
    height: calc(1200px * 1 / 37);
  }
  #fourC {
    height: calc(1200px * 2 / 37);
  }
  #five {
    height: calc(1200px * 10 / 37);
  }
  #six {
    height: calc(1200px * 5 / 37);
  }
  #sevenA {
    height: calc(1200px * 0 / 37);
  }
  #sevenB {
    height: calc(1200px * 10 / 37);
  }
  #sevenC {
    height: calc(1200px * 0 / 37);
  }
  #eight {
    height: calc(1200px * 2 / 37);
  }
  #nine {
    height: calc(1200px * 1 / 37);
  }
  #tenA {
    height: calc(1200px * 0 / 37);
  }
  #tenB {
    height: calc(1200px * 2 / 37);
  }
  #tenC {
    height: calc(1200px * 0 / 37);
  }
  #eleven {
    height: calc(1200px * 10 / 37);
  }
  #twelveA {
    height: calc(1200px * 0 / 37);
  }
  #twelveB {
    height: calc(1200px * 6 / 37);
  }
  #twelveC {
    height: calc(1200px * 0 / 37);
  }
  #thirteen {
    height: calc(1200px * 1 / 37);
  }
  #fourteen {
    height: calc(1200px * 0 / 37);
  }
  #fifteenA {
    height: calc(1200px * 0 / 37);
  }
  #fifteenB {
    height: calc(1200px * 0 / 37);
  }
  #sixteen {
    height: calc(1200px * 0 / 37);
  }
  .colsmallsplightblue {
    background-color: #31ABAB;
  }
  .colsmallspPurple {
    background-color: #194553;
  }
  .colsmallspcontent {
    background-color: #7CE2E2;
  }
  .reallysmallcontent {
    background-color: #7CE2E2;
  }
  #icecultText {
    margin-top: 0px;
    font-size: 0px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText2 {
    margin-top: 4%;
    font-size: 35px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText3 {
    margin-top: 15%;
    font-size: 0px;
    text-align: center;
    color: #7CE2E2;
  }
  .fancystyleLeft {
    border-left: 5px solid #7CE2E2;
  }
  .fancystyleRight {
    border-right: 5px solid #7CE2E2;
  }
  body {
    background-image: url("holymackeral.jpg");
    background-color: #3DC0B7;
  }
  .picture {
    width: 0%;
    height: 0%;
  }
  .smallpicture {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 681px) {
  .col-m-0 { display: none; }
  .col-m-1 { display: block; width: calc(100% / 37 * 1); }
  .col-m-2 { display: block; width: calc(100% / 37 * 2); }
  .col-m-3 { display: block; width: calc(100% / 37 * 3); }
  .col-m-4 { display: block; width: calc(100% / 37 * 4); }
  .col-m-5 { display: block; width: calc(100% / 37 * 5); }
  .col-m-6 { display: block; width: calc(100% / 37 * 6); }
  .col-m-7 { display: block; width: calc(100% / 37 * 7); }
  .col-m-8 { display: block; width: calc(100% / 37 * 8); }
  .col-m-9 { display: block; width: calc(100% / 37 * 9); }
  .col-m-10 { display: block; width: calc(100% / 37 * 10); }
  .col-m-11 { display: block; width: calc(100% / 37 * 11); }
  .col-m-12 { display: block; width: calc(100% / 37 * 12); }
  .col-m-13 { display: block; width: calc(100% / 37 * 13); }
  .col-m-14 { display: block; width: calc(100% / 37 * 14); }
  .col-m-15 { display: block; width: calc(100% / 37 * 15); }
  .col-m-16 { display: block; width: calc(100% / 37 * 16); }
  .col-m-17 { display: block; width: calc(100% / 37 * 17); }
  .col-m-18 { display: block; width: calc(100% / 37 * 18); }
  .col-m-19 { display: block; width: calc(100% / 37 * 19); }
  .col-m-20 { display: block; width: calc(100% / 37 * 20); }
  .col-m-21 { display: block; width: calc(100% / 37 * 21); }
  .col-m-22 { display: block; width: calc(100% / 37 * 22); }
  .col-m-23 { display: block; width: calc(100% / 37 * 23); }
  .col-m-24 { display: block; width: calc(100% / 37 * 24); }
  .col-m-25 { display: block; width: calc(100% / 37 * 25); }
  .col-m-26 { display: block; width: calc(100% / 37 * 26); }
  .col-m-27 { display: block; width: calc(100% / 37 * 27); }
  .col-m-28 { display: block; width: calc(100% / 37 * 28); }
  .col-m-29 { display: block; width: calc(100% / 37 * 29); }
  .col-m-30 { display: block; width: calc(100% / 37 * 30); }
  .col-m-31 { display: block; width: calc(100% / 37 * 31); }
  .col-m-32 { display: block; width: calc(100% / 37 * 32); }
  .col-m-33 { display: block; width: calc(100% / 37 * 33); }
  .col-m-34 { display: block; width: calc(100% / 37 * 34); }
  .col-m-35 { display: block; width: calc(100% / 37 * 35); }
  .col-m-36 { display: block; width: calc(100% / 37 * 36); }
  .col-m-37 { display: block; width: calc(100% / 37 * 37); }
  .colsplightblue {
    background-color: #31ABAB;
  }
  .colspPurple {
     background-color: #194553;
   }
  .colspcontent {
    background-color: #7CE2E2;
  }
  #NegOneD {
    height: calc(1200px * 1 / 37);
  }
  #NegOneC {
    height: calc(1200px * 1 / 37);
  }
  #NegOneB {
    height: calc(1200px * 2 / 37);
  }
  #NegOneA {
    height: calc(1200px * 1 / 37);
  }
  #PosOneA {
    height: calc(1200px * 0 / 37);
  }
  #PosOneB {
    height: calc(1200px * 0 / 37);
  }
  #one {
    height: calc(1200px * 1 / 37);
  }
  #two {
    height: calc(1200px * 5.5 / 37);
  }
  #three {
    height: calc(1200px * 1 / 37);
  }
  #fourA {
    height: calc(1200px * 1 / 37);
  }
  #fourB {
    height: calc(1200px * 1 / 37);
  }
  #fourC {
    height: calc(1200px * 1 / 37);
  }
  #five {
    height: calc(1200px * 1 / 37);
  }
  #six {
    height: calc(1200px * 2 / 37);
  }
  #sevenA  {
    height: calc(1200px * .5 / 37);
  }
  #sevenB {
    height: calc(1200px * 5.5 / 37);
  }
  #sevenC {
    height: calc(1200px * .5 / 37);
  }
  #eight {
    height: calc(1200px * 1 / 37);
  }
  #nine {
    height: calc(1200px * 1 / 37);
  }
  #tenA {
    height: calc(1200px * .5 / 37);
  }
  #tenB {
    height: calc(1200px * 5.5 / 37);
  }
  #tenC {
    height: calc(1200px * .5 / 37);
  }
  #eleven {
    height: calc(1200px * 2 / 37);
  }
  #twelveA {
    height: calc(1200px * .5 / 37);
  }
  #twelveB {
    height: calc(1200px * 5.5 / 37);
  }
  #twelveC {
    height: calc(1200px * .5 / 37);
  }
  #thirteen {
    height: calc(1200px * 1 / 37);
  }
  #fourteen {
    height: calc(1200px * 1 / 37);
  }
  #fifteenA {
    height: calc(1200px * 1 / 37);
  }
  #fifteenB {
    height: calc(1200px * 1 / 37);
  }
  #sixteen {
    height: calc(1200px * 1 / 37);
  }
  #fancystyle1 {
    border-left: 3px solid #7CE2E2;
    border-right: 3px solid #7CE2E2;
    border-bottom: 3px solid #7CE2E2;
  }
  .fancystyle2 {
    border: 3px solid #7CE2E2;
  }
  #icecultText {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText2 {
    margin-top: 0px;
    font-size: 0px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText3 {
    margin-top: 15%;
    font-size: 30px;
    text-align: center;
    color: #7CE2E2;
  }
  body {
    background-image: url("smallholymackeral.jpg");
    background-color: #3DC0B7;
  }
  .darkbluecorner {
    background-color: #3DC0B7;
  }
  .picture {
    width: 100%;
    height: 100%;
  }
  .smallpicture {
    width: 0%;
    height: 0%;
  }
}
@media only screen and (min-width: 1000px) {
  .col-0 { display: none; }
  .col-1 { display: block; width: calc(100% / 37 * 1); }
  .col-2 { display: block; width: calc(100% / 37 * 2); }
  .col-3 { display: block; width: calc(100% / 37 * 3); }
  .col-4 { display: block; width: calc(100% / 37 * 4); }
  .col-5 { display: block; width: calc(100% / 37 * 5); }
  .col-6 { display: block; width: calc(100% / 37 * 6); }
  .col-7 { display: block; width: calc(100% / 37 * 7); }
  .col-8 { display: block; width: calc(100% / 37 * 8); }
  .col-9 { display: block; width: calc(100% / 37 * 9); }
  .col-10 { display: block; width: calc(100% / 37 * 10); }
  .col-11 { display: block; width: calc(100% / 37 * 11); }
  .col-12 { display: block; width: calc(100% / 37 * 12); }
  .col-13 { display: block; width: calc(100% / 37 * 13); }
  .col-14 { display: block; width: calc(100% / 37 * 14); }
  .col-15 { display: block; width: calc(100% / 37 * 15); }
  .col-16 { display: block; width: calc(100% / 37 * 16); }
  .col-17 { display: block; width: calc(100% / 37 * 17); }
  .col-18 { display: block; width: calc(100% / 37 * 18); }
  .col-19 { display: block; width: calc(100% / 37 * 19); }
  .col-20 { display: block; width: calc(100% / 37 * 20); }
  .col-21 { display: block; width: calc(100% / 37 * 21); }
  .col-22 { display: block; width: calc(100% / 37 * 22); }
  .col-23 { display: block; width: calc(100% / 37 * 23); }
  .col-24 { display: block; width: calc(100% / 37 * 24); }
  .col-25 { display: block; width: calc(100% / 37 * 25); }
  .col-26 { display: block; width: calc(100% / 37 * 26); }
  .col-27 { display: block; width: calc(100% / 37 * 27); }
  .col-28 { display: block; width: calc(100% / 37 * 28); }
  .col-29 { display: block; width: calc(100% / 37 * 29); }
  .col-30 { display: block; width: calc(100% / 37 * 30); }
  .col-31 { display: block; width: calc(100% / 37 * 31); }
  .col-32 { display: block; width: calc(100% / 37 * 32); }
  .col-33 { display: block; width: calc(100% / 37 * 33); }
  .col-34 { display: block; width: calc(100% / 37 * 34); }
  .col-35 { display: block; width: calc(100% / 37 * 35); }
  .col-36 { display: block; width: calc(100% / 37 * 36); }
  .col-37 { display: block; width: calc(100% / 37 * 37); }
  #NegOneD {
    height: calc(1200px * 1 / 37);
  }
  #NegOneC {
    height: calc(1200px * 1 / 37);
  }
  #NegOneB {
    height: calc(1200px * 2 / 37);
  }
  #NegOneA {
    height: calc(1200px * 1 / 37);
  }
  #PosOneA {
    height: calc(1200px * 0 / 37);
  }
  #PosOneB {
    height: calc(1200px * 0 / 37);
  }
  #one {
    height: calc(1200px * 1 / 37);
  }
  #two {
    height: calc(1200px * 5.5 / 37);
  }
  #three {
    height: calc(1200px * 1 / 37);
  }
  #fourA {
    height: calc(1200px * 1 / 37);
  }
  #fourB {
    height: calc(1200px * 1 / 37);
  }
  #fourC {
    height: calc(1200px * 1 / 37);
  }
  #five {
    height: calc(1200px * 1 / 37);
  }
  #six {
    height: calc(1200px * 2 / 37);
  }
  #sevenA  {
    height: calc(1200px * .5 / 37);
  }
  #sevenB {
    height: calc(1200px * 5.5 / 37);
  }
  #sevenC {
    height: calc(1200px * .5 / 37);
  }
  #eight {
    height: calc(1200px * 1 / 37);
  }
  #nine {
    height: calc(1200px * 1 / 37);
  }
  #tenA {
    height: calc(1200px * .5 / 37);
  }
  #tenB {
    height: calc(1200px * 5.5 / 37);
  }
  #tenC {
    height: calc(1200px * .5 / 37);
  }
  #eleven {
    height: calc(1200px * 2 / 37);
  }
  #twelveA {
    height: calc(1200px * .5 / 37);
  }
  #twelveB {
    height: calc(1200px * 5.5 / 37);
  }
  #twelveC {
    height: calc(1200px * .5 / 37);
  }
  #thirteen {
    height: calc(1200px * 1 / 37);
  }
  #fourteen {
    height: calc(1200px * 1 / 37);
  }
  #fifteenA {
    height: calc(1200px * 1 / 37);
  }
  #fifteenB {
    height: calc(1200px * 1 / 37);
  }
  #sixteen {
    height: calc(1200px * 1 / 37);
  }
  #fancystyle1 {
    border-left: 3px solid #7CE2E2;
    border-right: 3px solid #7CE2E2;
    border-bottom: 3px solid #7CE2E2;
  }
  .fancystyle2 {
    border: 3px solid #7CE2E2;
  }
  .colsplightblue {
    background-color: #31ABAB;
  }
  .colspPurple {
    background-color: #194553;
  }
  .colspcontent {
    background-color: #7CE2E2;
  }
  #icecultText {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText2 {
    margin-top: 0px;
    font-size: 0px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText3 {
    margin-top: 15%;
    font-size: 30px;
    text-align: center;
    color: #7CE2E2;
  }
  body {
    background-image: url("smallholymackeral.jpg");
  }
  .darkbluecorner {
    background-color: #3DC0B7;
  }
  .picture {
    width: 100%;
    height: 100%;
  }
  .smallpicture {
    width: 0%;
    height: 0%;
  }
}
@media only screen and (min-width: 1200px) {
  #NegOneD {
    height: calc(1200px * 1 / 37);
  }
  #NegOneC {
    height: calc(1200px * 1 / 37);
  }
  #NegOneB {
    height: calc(1200px * 2 / 37);
  }
  #NegOneA {
    height: calc(1200px * 1 / 37);
  }
  #PosOneA {
    height: calc(1200px * 0 / 37);
  }
  #PosOneB {
    height: calc(1200px * 0 / 37);
  }
  #one {
    height: calc(1200px * 1 / 37);
  }
  #two {
    height: calc(1200px * 6.5 / 37);
  }
  #three {
    height: calc(1200px * 1 / 37);
  }
  #fourA {
    height: calc(1200px * 1 / 37);
  }
  #fourB {
    height: calc(1200px * 1 / 37);
  }
  #fourC {
    height: calc(1200px * 1 / 37);
  }
  #five {
    height: calc(1200px * 1 / 37);
  }
  #six {
    height: calc(1200px * 2 / 37);
  }
  #sevenA  {
    height: calc(1200px * .5 / 37);
  }
  #sevenB {
    height: calc(1200px * 5.5 / 37);
  }
  #sevenC {
    height: calc(1200px * .5 / 37);
  }
  #eight {
    height: calc(1200px * 1 / 37);
  }
  #nine {
    height: calc(1200px * 1 / 37);
  }
  #tenA {
    height: calc(1200px * .5 / 37);
  }
  #tenB {
    height: calc(1200px * 5.5 / 37);
  }
  #tenC {
    height: calc(1200px * .5 / 37);
  }
  #eleven {
    height: calc(1200px * 2 / 37);
  }
  #twelveA {
    height: calc(1200px * .5 / 37);
  }
  #twelveB {
    height: calc(1200px * 5.5 / 37);
  }
  #twelveC {
    height: calc(1200px * .5 / 37);
  }
  #thirteen {
    height: calc(1200px * 1 / 37);
  }
  #fourteen {
    height: calc(1200px * 1 / 37);
  }
  #fifteenA {
    height: calc(1200px * 1 / 37);
  }
  #fifteenB {
    height: calc(1200px * 1 / 37);
  }
  #sixteen {
    height: calc(1200px * 1 / 37);
  }
  .colsplightblue {
    background-color: #31ABAB;
  }
  .colspPurple {
    background-color: #194553;
  }
  .colspcontent {
    background-color: #7CE2E2;
  }
  #fancystyle1 {
    border-left: 3px solid #7CE2E2;
    border-right: 3px solid #7CE2E2;
    border-bottom: 3px solid #7CE2E2;
  }
  .fancystyle2 {
    border: 3px solid #7CE2E2;
  }
  #icecultText {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText2 {
    margin-top: 0px;
    font-size: 0px;
    text-align: center;
    color: #7CE2E2;
  }
  #icecultText3 {
    margin-top: 15%;
    font-size: 30px;
    text-align: center;
    color: #7CE2E2;
  }
  #icenews {
    width: 100%;
    height: 100%;
  }
  body {
    background-image: url("smallholymackeral.jpg");
    background-color: #3DC0B7;
  }
  .darkbluecorner {
    background-color: #3DC0B7;
  }
  .picture {
    width: 100%;
    height: 100%;
  }
  .smallpicture {
    width: 0%;
    height: 0%;
  }
}
.row {
  width: 100%;
}

div div {
  height: 100%;
}
